*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT

COMMIT

*filter
{% if iptables.iptables_chain -%}
{% for chain in iptables.iptables_chain -%}
:{{ chain.name }} {{ chain.policy }}
{% endfor -%}
{% endif -%}

-A INPUT -d ::1/128 ! -i lo -j REJECT --reject-with icmp6-port-unreachable

{% if iptables.iptables_chain -%}
	{% for chain in iptables.iptables_chain -%}

		{% if 'pipes_to' in chain and 'ipv6' in chain.pipes_to -%}
{% for pipe in chain.pipes_to.ipv6 -%}
-A {{ chain.name }} -p {{ pipe.proto }} -m {{ pipe.proto }} -s {{ pipe.source }} -j {{ pipe.chain }}
{% endfor -%}
		{% endif -%}

		{% if 'rules' in chain -%}

			{% if 'tcp_dport_accept' in chain.rules -%}
{% for port in chain.rules.tcp_dport_accept -%}
-A {{ chain.name }} -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor -%}
			{% endif -%}

			{% if 'udp_dport_accept' in chain.rules -%}
{% for port in chain.rules.udp_dport_accept -%}
-A {{ chain.name }} -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor -%}
			{% endif -%}

			{% if 'udp_sport_dport_accept' in chain.rules -%}
{% for port in chain.rules.udp_sport_dport_accept -%}
-A {{ chain.name }} -p udp --sport {{ port.sport }} --dport {{ port.dport }} -j ACCEPT
{% endfor -%}
			{% endif -%}

			{% if 'rule' in chain.rules -%}
				{% for rule in chain.rules.rule -%}
{% if (not 'source' in rule or (rule.source | ipv6)) and (not 'dest' in rule or (rule.dest | ipv6)) and (not 'ipv4' in rule or not rule.ipv4) -%}
-A {{ chain.name }}
{%- if 'proto' in rule %} -p {{ rule.proto }}{% endif %}
{%- if 'module' in rule %} -m {{ rule.module }}{% endif %}
{%- if 'iniface' in rule %} -i {{ rule.iniface }}{% endif %}
{%- if 'outiface' in rule %} -o {{ rule.outiface }}{% endif %}
{%- if 'sport' in rule %} --sport {{ rule.sport }}{% endif %}
{%- if 'dport' in rule %} --dport {{ rule.dport }}{% endif %}
{%- if 'sports' in rule %} --sports {{ rule.sports | join(',') }}{% endif %}
{%- if 'dports' in rule %} --dports {{ rule.dports | join(',') }}{% endif %}
{%- if 'state' in rule %} --state {{ rule.state }}{% endif %}
{%- if 'source' in rule %} -s {{ rule.source }}{% endif %}
{%- if 'dest' in rule %} -d {{ rule.dest }}{% endif %}
{%- if 'limit' in rule %} --limit {{ rule.limit }}{% endif %}
{%- if 'jump' in rule%} -j {{ rule.jump }}{% endif %}
{%- if 'logprefix' in rule %} --log-prefix "{{ rule.logprefix }}"{% endif %}
{%- if 'loglevel' in rule %} --log-level {{ rule.loglevel }}{% endif %}

{% endif -%}
				{% endfor -%}
			{% endif -%}

		{% endif -%}

{% if 'jump' in chain -%}
-A {{ chain.name }} -j {{ chain.jump }}
{% endif -%}

	{% endfor %}
{%- endif -%}

COMMIT
