*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
{% if 'tunnel' in iptables %}
-A POSTROUTING -s {{ iptables.tunnel.network }} -o {{ iptables.tunnel.device }} -j MASQUERADE
{% endif %}

COMMIT

*filter
{% if iptables.iptables_chain -%}
{% for chain in iptables.iptables_chain -%}
:{{ chain.name }} {{ chain.policy }}
{% endfor -%}
{% endif -%}

-A INPUT -i lo -j ACCEPT
-A INPUT -d ::1/128 ! -i lo -j REJECT --reject-with icmp6-port-unreachable
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

-A OUTPUT -m state --state RELATED,ESTABLISHED -j ACCEPT


{% if 'ssh_port' in iptables -%}
# Allows SSH connections
# The --dport number is the same as in /etc/ssh/sshd_config
-A INPUT -p tcp -m state --state NEW --dport {{ iptables.ssh_port }} -j ACCEPT
{% endif %}


{% if iptables.iptables_chain -%}
	{% for chain in iptables.iptables_chain -%}

		{% if 'pipes' in chain -%}
{% for pipe in chain.pipes -%}
-A {{ pipe.chain }} -p {{ pipe.proto }} -m {{ pipe.proto }} -s {{ pipe.source }} -j {{ chain.name }}
{% endfor -%}
		{% endif -%}

		{% if 'rules' in chain -%}
			{% if 'tcp_dport_accept' in chain.rules -%}
{% for port in chain.rules.tcp_dport_accept -%}
-A {{ chain.name }} -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor -%}
			{% endif -%}

			{% if 'udp_dport_accept' in chain.rules -%}
{% for port in chain.rules.udp_dport_accept -%}
-A {{ chain.name }} -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor -%}
			{% endif -%}

			{% if 'udp_sport_dport_accept' in chain.rules -%}
{% for port in chain.rules.udp_sport_dport_accept -%}
-A {{ chain.name }} -p udp --sport {{ port.sport }} --dport {{ port.dport }} -j ACCEPT
{% endfor -%}
			{% endif -%}
		{% endif -%}

		{% if 'pipes_to' in chain -%}
{% for pipe in chain.pipes_to -%}
-A {{ chain.name }} -p {{ pipe.proto }} -m {{ pipe.proto }} -s {{ pipe.source }} -j {{ pipe.chain }}
{% endfor -%}
		{%- endif -%}

		{% if 'jump' in chain -%}
-A {{ chain.name }} -j {{ chain.jump }}
		{%- endif -%}

	{% endfor -%}
{%- endif %}

-A INPUT -p ipv6-icmp -j ACCEPT
-A OUTPUT -p ipv6-icmp -j ACCEPT
-A INPUT -p igmp -j ACCEPT
-A OUTPUT -p igmp -j ACCEPT
-A INPUT -m limit --limit 5/min -j LOG --log-prefix "ip6tables denied: " --log-level 7

COMMIT
